---
---

$phe-blue: #0860a8;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  svg {
    display: block;
    margin: 0 auto;

    ellipse {
      stroke-width: 2px;
      stroke: $phe-blue;
      fill: white;
      &.blue-side { fill: $phe-blue; }
    }

    text {
      text-anchor: middle;
      font-family: "Times New Roman";
      dominant-baseline: central;
      fill: white;
      &.blue-side { fill: $phe-blue; }
    }
  }

  h1 {
    text-align: center;
    color: $phe-blue;
  }
}

nav {
  display: flex;
  flex-flow: row wrap;
  $border-style: 2px solid $phe-blue;
  border-top: $border-style;
  border-bottom: $border-style;
  margin-bottom: 1rem;

  .dropdown {
    position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    width: 270px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    border-radius: 5px;
  }

  div:last-child {
    margin-left: auto;
  }

  a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: $phe-blue;

    &:hover {
      background-color: #eeeeee;
    }
  }
}

main {
  line-height: 1.4rem;

  h2 {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: $phe-blue;

    &:hover {
      text-decoration: underline;
    }
  }

  &#flex-container {
    display: flex;
    flex-flow: row wrap;
  }

  &#flex-container > * {
    margin: 0px 10px;
  }

  &#flex-container > #vision {
    flex: 5 1 500px;
  }

  &#flex-container > #announcements {
    flex: 1 1 250px;
  }

  &#flex-container > #bio {
    flex: 50 1 500px;
  }

  &#flex-container > #portrait {
    flex-grow: 1;
  }

  #portrait > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  iframe {
    display: block;
    margin: 0 auto;
  }

  img.fit-picture {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.larger {
  font-size: 1.5rem;
  line-height: 1.2;
}

.ui-accordion-header.ui-state-active {
  background-color: $phe-blue;
}

// The menu no longer fits horizontally when narrower than 650 px
@media screen and (max-width: 650px) {
  nav {
    flex-direction: column;

    div:last-child {
      margin-left: unset;
    }
  }

  header {
    svg {
      display: none;
    }
  }
}

@media screen and (min-width: 1000px) {
  body {
    width: 1000px;
    margin: 0 auto;
  }
}
