---
---

$phe-blue: #0860a8;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  svg {
    display: block;
    margin: 0 auto;

    ellipse {
      stroke-width: 2px;
      stroke: $phe-blue;
      fill: white;
      &.blue-side { fill: $phe-blue; }
    }

    text {
      text-anchor: middle;
      font-family: "Times New Roman";
      dominant-baseline: central;
      fill: white;
      &.blue-side { fill: $phe-blue; }
    }
  }

  h1 {
    text-align: center;
    color: $phe-blue;
  }
}

nav {
  display: flex;
  $border-style: 2px solid $phe-blue;
  border-top: $border-style;
  border-bottom: $border-style;

  .dropdown-content {
    display: none;
  }

  div:last-child {
    margin-left: auto;
  }

  a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: $phe-blue;

    /*&:link, &:visited, &:focus, &:active {
      color: $phe-blue;
    }*/

    &:hover {
      background-color: #eeeeee;
    }
  }
}

main {
  line-height: 1.4rem;

  h2 {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: $phe-blue;

    &:hover {
      text-decoration: underline;
    }
  }
}
