---
---

#flex-container {
  display: flex;
  flex-flow: row wrap;
}

#flex-container > * {
  margin: 0px 10px;
}

#flex-container > #bio {
  flex: 50 1 500px;
}

#flex-container > #portrait {
  flex-grow: 1;
}

#portrait > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
