<% provide(:title, "Bize Ulaşın") %>
<p><strong>E-posta:</strong> psikolojikhizmetler@gmail.com</p>
<p><strong>Telefon:</strong> 0-553-408-2079, 0-312-417-9365</p>
<p><strong>Adres:</strong> İnkılap Sok. No: 24/8 Kızılay/ANKARA</p>
<div id="map-canvas" style="width:500px;height:400px"></div>

