<% provide(:title, "Medya / Basın") %>

<ul class="youtube-video-gallery">
  <% @videos.each do |url, summary| %>
    <li><%= link_to summary, url %></li>
  <% end %>
</ul>

<script>
  $(document).ready(function(){
      $("ul.youtube-video-gallery").youtubeVideoGallery( {
        plugin: 'none',
        title: 'full',
      } );
  });
</script>
