<% provide(:title, "Yayınlar") %>

<div>
  <%= image_tag("psikososyal.jpg", size: "239x356", alt: "Psikososyal kapak resmi", class: "book-cover") %>

  <p>Afetlerde Psikososyal Hizmetler Birliği Psikososyal Uygulamalar Eğitimi Katılımcı Kitabı, 2012</p>
  <p>Editörler: Meriç Gözden, Nedret Öztan, Tamer Aker</p>
</div>