---
---

<div>
  <div class="cover">
    <%= link_to image_tag("psikososyal_1.jpg", size: "239x356", alt: "Psikososyal kapak resmi"), path_to_image("psikososyal_1.jpg") %>
    <%= link_to image_tag("psikososyal_2.jpg", size: "239x356", alt: "Psikososyal kapak resmi"), path_to_image("psikososyal_2.jpg") %>
  </div>

  <div class="cover">
    <%= link_to image_tag("kizilay_travma.jpg", size: "238x359", alt: "Psikososyal kapak resmi"), path_to_image("kizilay_travma.jpg") %>
  </div>

  <div class="cover">
    <%= link_to image_tag("travma_sonrasi_1.jpg", size: "250x352", alt: "Psikososyal kapak resmi"), path_to_image("travma_sonrasi_1.jpg") %>
  </div>

  <div class="cover">
    <%= link_to image_tag("travma_sonrasi_2.jpg", size: "250x352", alt: "Psikososyal kapak resmi"), path_to_image("travma_sonrasi_2.jpg") %>
  </div>

  <div class="cover">
    <%= link_to image_tag("ask_yetmez.jpg", size: "238x359", alt: "Psikososyal kapak resmi"), path_to_image("ask_yetmez.jpg") %>
  </div>

  <div class="cover">
    <%= link_to image_tag("yonetim_egitimi.jpg", size: "238x359", alt: "Psikososyal kapak resmi"), path_to_image("yonetim_egitimi.jpg") %>
  </div>
</div>