<header class="navbar">
  <div class="container center">
    <svg version="1.1" baseProfile="full" width="130" height="98" xmlns="http://www.w3.org/2000/svg">
    	<defs>
        <clipPath id="keep-left-half">
          <rect x="0" y="0" width="65" height="98" />
        </clipPath>
      </defs>

    	<ellipse class="blue-side"/>
    	<ellipse clip-path="url(#keep-left-half)"/>

    	<text x="65" y="54" font-size="116">&#x03a8;</text>
    	<text x="65" y="54" font-size="116" clip-path="url(#keep-left-half)" class="blue-side">&#x03a8;</text>
    </svg>
    <span class="title">Psikolojik Hizmetler Enstitüsü</span>
  </div>
  <div class="container navigation">
    <nav>
      <ul class="nav navbar-nav">
        <li><a href={% link index.html %}>Amacımız</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Ekibimiz <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href={% link nedret.html %}>Psikolog Dr. Nedret Öztan</a></li>
            <li><a href={% link fusun.html %}>Uzman Psikolog Füsun Kurdoğlu</a></li>
          </ul>
        </li>
        <li><a href={% link bizeulasin.html %}>Bize Ulaşın</a></li>
        <li><a href={% link medya.html %}>Medya / Basın</a></li>
        <li><a href={% link yayinlar.html %}>Yayınlar</a></li>
      </ul>
    </nav>
  </div>
</header>
