<% provide(:title, "Füsun Kurdoğlu") %>

<%= image_tag("fusun.jpg", alt: "Füsun Kurdoğlu'nun resmi") %>

<p>Lisans eğitimini İstanbul Üniversitesi Edebiyat Fakültesi Psikoloji Bölümü'nde, 
Yüksek Lisans eğitimini de Marmara Üniversitesi Sosyal Bilimler Enstitüsü 
Psikolojik Danışmanlık ve Rehberlik Bölümü'nde tamamlamıştır.</p>

<p>İstanbul Üniversitesi Tıp Fakültesi Çocuk Evi'nde Rehberlik ve Psikolojik 
Danışmanlık Birimi'ni kurma ve bu birimde 0-6 yaş erken çocukluk eğitimi alanında, 
hem öğretmenlere yönelik hizmet içi eğitim programları oluşturma hem de ailelere 
yönelik danışmanlık hizmetleri vermiştir. İstanbul Üniversitesi Tıp Fakültesi 
Çocuk Psikiyatrisi Ana Bilim Dalı'nda klinik çalışmalarda bulunmuştur.</p>

<p>1996 yılında Ankara Üniversitesi Tıp Fakültesi Çocuk Ruh Sağlığı ve Hastalıkları 
Bölümü'ne geçmiş; otistik çocuklar, bebek ruh sağlığı, dikkat eksikliği ve özgül 
öğrenme bozuklukları alanlarında klinik çalışmalar yürütmüştür. Daha sonra yine 
aynı üniversitenin Eğitim Bilimleri Fakültesi, Eğitimde Psikolojik Hizmetler 
Bölümü'nde gerek okul öncesi ve ilkokul çağı çocuklarına ve ailelerine gerekse 
üniversite öğrencilerine danışmanlık yapmıştır. 2003 yılında da bu görevinden 
emekli olmuştur.</p> 

<p>Çok sayıda okul ve kurumda, öğretmen ve ailelere yönelik seminerler vermiştir. 
Ulusal ve uluslararası bilimsel toplantılarda sunulmuş olan bildirileri, yurtiçi 
hakemli dergilerde yayınlanmış olan makaleleri ve kitap bölümleri bulunmaktadır.</p>

<p>Halen, Psikolojik Hizmetler Enstitüsü'nde Çocuk, Ergen ve Aile Danışmanı 
olarak görev yapan Uzman Psikolog Füsun Kurdoğlu Türkiye Sinir ve Ruh Sağlığı 
Derneği, Prof. Dr. Mualla Öztürk Çocuk Ruh Sağlığı Ödülü (2001) sahibidir. 
Uzmanlık alanları otizm, öğrenme güçlükleri ve hiperaktivitedir.</p>
