<nav>
  <ul>
    <li><a href="index.html">Amacımız</a></li>
    <li><a href="duyurular.html">Duyurular</a></li>
    <li>
      <a href="#">Ekibimiz</a>
      <ul>
        <li><a href="nedret.html">Psikolog Dr. Nedret Öztan</a></li>
        <li><a href="fusun.html">Uzman Psikolog Füsun Kurdoğlu</a></li>
      </ul>
    </li>
    <li><a href="bizeulasin.html">Bize Ulaşın</a></li>
    <li><a href="medya.html">Medya / Basın</a></li>
    <li><a href="yayinlar.html">Yayınlar</a></li>
    <li><a href="contact.html">English</a></li>
  </ul>
</nav>
