<nav>
  <div><a href="index.html">Amacımız</a></div>
  <div>
    <a href="#" class="dropdown">Ekibimiz</a>
    <div class="dropdown-content">
      <div><a href="nedret.html">Psikolog Dr. Nedret Öztan</a></div>
    </div>
  </div>
  <div><a href="bizeulasin.html">Bize Ulaşın</a></div>
  <div><a href="medya.html">Medya / Basın</a></div>
  <div><a href="yazilar.html">Özel Yazılar</a></div>
  <div><a href="yayinlar.html">Yayınlar</a></div>
  <div><a href="kvkk.html">KVKK</a></div>
  <div><a href="home.html">English</a></div>
</nav>
